@model List<GetByBlogIdTagCloudDto>

<div class="sidebar-box ftco-animate">
    <h3>Etiket Bulutları</h3>
    <div class="tagcloud">
        @foreach(var data in Model)
        {
            <a href="javascript:void(0)" class="tag-cloud-link">@data.Title</a>

        }
    
    </div>
</div>
