@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Markası Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç markası ile ilgili bilgileri aşağıdaki kutucuğa girebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="BrandId" />
                            <div class="form-group">
                                <label for="exampleInputBrand">Özellik Adı</label>
                                <input type="text" class="form-control" value="@Model.Name" asp-for="Name" />
                            </div>


                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
