@model GetByBlogAndAuthorDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.getByBlogDto.Title</h2>
    <p>@Model.getByBlogDto.BlogDescription</p>

    @await Component.InvokeAsync("_BlogDetailCloudTagByBlogComponentPartial")
    @await Component.InvokeAsync("_BlogDetailsAuthorAboutComponentPartial", new { id = ViewBag.blogid })


    <div class="pt-5 mt-5">
        @await Component.InvokeAsync("_BlogDetailCommentCountComponentPartial", new { id = ViewBag.blogid })

        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new { id = ViewBag.blogid })
       
        @await Html.PartialAsync("/Views/Blog/AddComment.cshtml");
    </div>

</div>
