@model List<ResultSocialMediaDto>
<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
    @foreach(var data in Model)
    {
        <li class="ftco-animate"><a href="@data.Url"><span class="@data.Icon"></span></a></li>

    }
  

</ul>