@model List<ResultCommentDto>
<ul class="comment-list">
    @foreach(var data in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="/carbook-master/images/person_1.jpg" alt="Profile Photo">
            </div>
            <div class="comment-body">
                <h3>@data.Name</h3>
                <div class="meta">@data.CreatedDate.ToShortDateString()</div>
                <p>@data.CommentText</p>
            </div>
        </li>
    }


   
</ul>