@model CreateAuthorDto
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Yazar Girişi</h4>
                        <p class="card-subtitle mb-4">Yazar ile ilgili bilgileri aşağıdaki kutucuklara girebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBrand"> Yazar Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBrand">Yazar Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" />
                                </div>
                            <div class="form-group">
                                <label for="exampleInputBrand">Yazar Resim Url</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" />
                            </div>
                         

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Yazari Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
