@{
	var menuItems = new List<(string Name, string Url)>
	{
		("Anasayfa", "/Default/Index"),
		("Hakkımızda", "/About/Index"),
		("Hizmetler", "/Service/Index"),
		("Ödeme Türleri", "/CarPricing/Index"),
		("Araçlar", "/Car/Index"),
		("Blog", "/Blog/Index"),
		("İletişim", "/Contact/Index")
	};

	var activePage = TempData["Navbar"]?.ToString();
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/Default/Index">Car<span>Book</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menü
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">

				@foreach (var item in menuItems)
				{
					<li class="nav-item @(activePage == item.Name ? "active" : "")">
						<a href="@item.Url" class="nav-link">@item.Name</a>
					</li>
				}

			</ul>
		</div>
	</div>
</nav>
